/* Gold      F2CC8C      */
/* Archteicture tones 
Sky blue : EAF5FA  
Sky blue2 : 9CBBD0   
Medium blue: 49617D   
Dark Gray : 2E313A   
White Gray : B7B9C6 
Super white Gray :  DFDCE7 */

/* NEW CSS BELOW */

.landingContainer{
  height: 100vh;
  width: 100vw;
}

.forceHeight{
  height: 100vh !important;
}

.leftContainer{
  background-color: rgb(5, 238, 255) !important;
}

.middleContainer{
  background-color: rgb(213, 255, 5) !important;
}

.rightContainer{
  background-color: rgb(226, 81, 255) !important;
}

.firstCard{
  background: url("./Images/card/old-cardwork.png") no-repeat center;
  background-size: cover;
}

.secondCard{
  background: url("./Images/card/card-beach.png") no-repeat center;
  background-size: cover;
}

.thirdCard{
  background: url("./Images/card/card-autobattler.png") no-repeat center;
  background-size: cover;
}

.mixDifference {
  mix-blend-mode: difference;
}

/* OLD CSS BELOW */


body {
  margin: 0;
  height: 100%;
  background-color: rgb(73, 97, 125) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000 no-repeat center center fixed;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 1em;
  -webkit-transition: ease 1s; /* For Safari 3.0 to 6.0 */
  transition: ease 1s; /* For modern browsers */
}

.fullscreen-bg {
  background: #000 no-repeat center center fixed;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -5;
  transition: ease-in-out 1s;
}

ul.header li {
  z-index: 2;
  color: #fff;
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding-left: 1vw;
  padding-right: 1vw;
}
ul.header {
  z-index: 2;
  display: block;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 5%;
  width: 100%;
  height: 60px;
  -webkit-transition: ease 1s; /* For Safari 3.0 to 6.0 */
  transition: ease 1s; /* For modern browsers */
}

.visiblenav {
  background-color: rgba(73, 97, 125, 0.8);
  background-blend-mode: screen;
}

.hidden {
  display: none !important;
}

.top2 {
  top: 60px !important;
}

.top3 {
  top: 120px !important;
}

.top4 {
  top: 180px !important;
}

.top5 {
  top: 240px !important;
}

ul.header li a {
  font-family: "Raleway", sans-serif;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  display: inline-block;
  margin-top: 10px;
  font: bold;
  font-weight: bold;
  padding: 10px;
  padding-right: 25px;
  padding-left: 25px;
  position: relative;
  -webkit-transition: ease 1s; /* For Safari 3.0 to 6.0 */
  transition: ease 1s; /* For modern browsers */
}

ul.header li a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.5s ease 0s, left 0.3s ease 0s;
  width: 0;
}

ul.header li a:hover::after {
  width: 100%;
  left: 0;
}
ul.header li a:focus,
a:active {
  color: #49617d;
}

ul.header li a:active::before {
  background-color: #00bcd4;
}

ul.header li a:hover::before,
ul.header li a:focus::before {
  -webkit-transform-origin: center top;
  transform-origin: center top;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

ul.header li a:focus {
  border-color: rgb(255, 255, 255);
  mix-blend-mode: difference;
  background-color: darkcyan;
}

.menubutton {
  transition-timing-function: ease;
  transition: 0.2s;
}

.closemenu {
  background: rgba(255, 105, 97, 0.7) !important;
}

.menubutton:active::after {
  color: #49617d !important;
  background: #49617d !important;
}

.active {
  border: 4px solid;
  border-color: rgb(255, 255, 255) !important;
  mix-blend-mode: difference !important;
}

li {
  display: block;
}

