/* Gold      F2CC8C      */
/* Archteicture tones 
Sky blue : EAF5FA  
Sky blue2 : 9CBBD0   
Medium blue: 49617D   
Dark Gray : 2E313A   
White Gray : B7B9C6 
Super white Gray :  DFDCE7 */

/* NEW CSS BELOW */

.content {
}

.landingContainer {
  height: 100vh;
  width: 100vw;
}

.forceHeight {
  height: 100vh !important;
}

.heightBypass {
  padding-top: 5vw !important;
}

.emptySpace {
  height: 80px !important;
}

.titleContainer {
  font-family: "Archivo Black", sans-serif;
  font-weight: normal;
  text-align: justify center !important;
  font-size: 3.5vw !important;
  text-align: left;

  display: flex;
  justify-content: center;
  align-items: center;
}

.lefttitleContainer {
  font-family: "Archivo Black", sans-serif;
  position: absolute !important;
  font-weight: normal;
  width: 100% !important;
  height: 15% !important;
  text-align: justify center !important;
  font-size: 6vw !important;
}

.leftContainer {
  padding-top: 180px;
  padding-left: 30px;
  text-align: center;
}

.middleContainer {
  padding-top: 180px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.rightContainer {
  padding-top: 180px;
  padding-right: 30px;
  text-align: center;
}

.bodyPink {
  background-color: rgb(226, 81, 255) !important;
}

.firstCard {
  background: url("./Images/card/card-beach.png") no-repeat center;
  background-size: cover;
}

.secondCard {
  background: url("./Images/card/card-beach.png") no-repeat center;
  background-size: cover;
}

.thirdCard {
  background: url("./Images/card/card-autobattler.png") no-repeat center;
  background-size: cover;
}

.fourthCard {
  background: url("./Images/card/old-cardwork.png") no-repeat center;
  background-size: cover;
}

.mixDifference {
  mix-blend-mode: difference !important;
}

.repeatingDotPattern {
  background: url("./Images/background/DotPattern5.png") repeat center;
  position: fixed;
  width: 200vw;
  height: 200vh;
  background-attachment: fixed;
  animation: movingDots 10s linear infinite;
  z-index: -1;
}

@keyframes movingDots {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 512px;
  }
}

.gradientBackground {
  position: fixed;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  -webkit-transition: ease 2s; /* For Safari 3.0 to 6.0 */
  transition: ease 2s; /* For modern browsers */
  animation: gradientFade 3s forwards !important;
  z-index: -1;
}

@keyframes gradientFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.gradientBlue {
  background: linear-gradient(to bottom, rgba(0, 166, 255, 0), #007abb);
}

.gradientSoftYellow {
  background: linear-gradient(to bottom, rgba(0, 166, 255, 0), #fff2cc);
}

.gradientBlack {
  background: linear-gradient(to bottom, rgba(0, 166, 255, 0), #007abb);
}

.bannerMoveTop {
  animation: banner-move2 1.25s forwards !important;
  animation-delay: 2s;
  display: inline-block;
}

@keyframes banner-move2 {
  0% {
    transform: translateY(100px);
    -webkit-text-stroke: 0.15vw #00000000;
  }
  100% {
    transform: translateY(0px);
    -webkit-text-stroke: 0.15vw #fff;
  }
}

.bannerWhite {
  color: rgba(255, 255, 255, 1);
  animation: color-change 2s forwards !important;
  animation-delay: 1s;
}

@keyframes color-change {
  0% {
    color: rgba(0, 122, 187, 0);
    -webkit-text-stroke: 0.15vw #fff;
  }
  100% {
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: 0.15vw #fff;
  }
}

@supports (-webkit-text-stroke: 0.15vw #fff) {
  .bannerOutline {
    color: rgba(0, 122, 187, 0);
    -webkit-text-stroke: 0.15vw #fff;

    animation-delay: 1.25s;
  }
}

.gradientOrange {
  background: linear-gradient(to bottom, rgba(0, 166, 255, 0), #aee0ff);
}

.gradientGreen {
  background: linear-gradient(
    to bottom,
    rgba(220, 237, 200, 0),
    rgb(82, 247, 143)
  );
}

.gradientBlue {
  background: linear-gradient(to bottom, rgba(77, 182, 172, 0), #007abb);
}

/* Text Section */

.section {
  display: block;
  background-color: rgba(0, 0, 0, 0.3);
  border: rgba(156, 187, 208, 0.8) 1px solid;
  border-radius: 10px;
  color: #fff;
  padding: 10px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 10px;
  font-size: 1vw;
  line-height: 1.1;
}

.blueSection {
  display: block;
  background-color: #0079bb89;
  border: rgba(156, 187, 208, 0.8) 1px solid;
  border-radius: 10px;
  color: #fff;
  padding: 10px;
}

.bigText {
  font-size: 2vw !important;
  font-weight: bolder;
  font-family: "Poppins", sans-serif;
}

.leftText {
  text-align: left !important;
}

.whiteText {
  color: #fff;
  font-size: 1em;
}

.greyText {
  color: #424242;
  font-size: 1.25em;
}

.subtitleText {
  font-size: 1.5vw !important;
  font-weight: bolder;
  font-family: "Poppins", sans-serif;
  display: inline-block;
  line-height: normal;
  height: 100%;
  width: 100%;
  color: #fff;
}

/* Landing */

.bigAvatar {
  width: 90%;
  height: 90%;
  padding: 5px;
}

.bigCircle {
  background: #0079bb51;
  border-radius: 50%;
  width: 90%;
  height: 90%;
  z-index: 0;
  position: relative;
}

.fixedimg {
  width: 64px;
  height: 64px;
  padding: 5px;
}

.circle {
  background: rgba(255, 255, 255, 1);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  z-index: 100;
  position: relative;
}

.centerElement {
  align-content: center;
  text-align: center;
  vertical-align: middle;
}

.subBanner {
  background: rgba(255, 255, 255, 0.35);
  z-index: 1;
  position: relative;
  border-radius: 15px;
  padding: 5px;
  padding-left: 30px;
  margin-left: -30px;
}

.bannerMoveBottom {
  animation: banner-move 1s forwards !important;
  animation-delay: 1.5s;
  display: inline-block;
}

@keyframes banner-move {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0px);
  }
}

.smallText {
  font-size: 0.3em !important;
}

.icon {
  display: inline-block;
  padding: 0;
  vertical-align: baseline;
  height: 16px;
  width: 16px;
  filter: invert(19%) sepia(14%) saturate(3681%) hue-rotate(141deg) brightness(93%) contrast(101%);
}

.fancyButton {
  background-color: #fff;
  border: 2px solid #003e42;
  border-radius: 30px;
  box-shadow: #003e42 4px 4px 0 0;
  color: #003e42;
  cursor: pointer;
  display: inline-block;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  line-height: 1.3em;
}

.fancyButton:hover {
  background-color: #86f0f7;
}

.fancyButton:active {
  box-shadow: #003e42 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .fancyButton {
    min-width: 120px;
    padding: 0 25px;
  }
}

/* Card */

.MuiPaper-root {
  background-color: #0079bb89 !important;
  border: rgba(156, 187, 208, 0.8) 1px solid !important;
}

.MuiCardContent-root {
  padding: 5px !important;
}

.cardHeader {
  color: #eaf5fad0;
  font-size: 2em !important;
  font-family: "Poppins", serif !important;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bolder !important;
  color: rgba(255, 255, 255, 1);
}

label {
  padding: 2px;
  background-color: rgba(73, 97, 125, 0.8);
  border-color: #eaf5fa;
  border-radius: 5px;
  font: bold;
  color: #fff;
}

label2 {
  padding: 2px;
  background-color: hsla(0, 0%, 0%, 0.5);
  border-color: #eaf5fa;
  border-radius: 5px;
  padding: 25x;
  font: normal;
  color: #fff;
}

/* OLD CSS BELOW */

body {
  overflow-y: scroll !important;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin: 0;
  height: 100%;
  background-color: rgb(0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000 no-repeat center center fixed;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 1em;
  -webkit-transition: ease 2s; /* For Safari 3.0 to 6.0 */
  transition: ease 2s; /* For modern browsers */
}

ul.header li {
  z-index: 2;
  color: #fff;
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
}
ul.header {
  z-index: 2;
  display: block;

  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  -webkit-transition: ease 1s; /* For Safari 3.0 to 6.0 */
  transition: ease 1s; /* For modern browsers */
}

.visiblenav {
  background-color: rgba(0, 0, 0, 0.9);
  padding-bottom: 20px !important;
}

.headerPadding {
  height: 80px !important;
}

.centerText {
  text-align: center !important;
}

.hidden {
  display: none !important;
}

.top2 {
  top: 60px !important;
}

.top3 {
  top: 120px !important;
}

.top4 {
  top: 180px !important;
}

.top5 {
  top: 240px !important;
}

ul {
  text-align: right !important;
}

ul.header li a {
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1em;
  display: inline-block;
  margin-top: 10px;
  font: bold;
  font-weight: bold;
  padding: 10px;
  padding-right: 10px;
  padding-left: 10px;
  position: relative;
  -webkit-transition: ease 1s; /* For Safari 3.0 to 6.0 */
  transition: ease 1s; /* For modern browsers */
  margin-left: 15px;
  margin-right: 15px;
  width: 100px;
}

ul.header li a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.5s ease 0s, left 0.3s ease 0s;
  width: 0;
}

ul.header li a:hover::after {
  width: 100%;
  left: 0;
}
ul.header li a:focus,
a:active {
  color: #49617d;
}

ul.header li a:active::before {
  background-color: #00bcd4;
}

ul.header li a:hover::before,
ul.header li a:focus::before {
  -webkit-transform-origin: center top;
  transform-origin: center top;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

ul.header li a:focus {
  border-color: rgb(205, 205, 205);
}

.menubutton {
  transition-timing-function: ease;
  transition: 0.2s;

  width: 70vw !important;
}

.closemenu {
  background: rgba(255, 105, 97, 0.7) !important;
}

.menubutton:active::after {
  color: #49617d !important;
  background: #49617d !important;
}

.active {
  background-color: rgba(255, 255, 255, 0.8);
  border-color: rgb(205, 205, 205);
  color: #000 !important;
}

li {
  display: block;
}

/*  Testing Card */

.card {
  padding-top: 50%;
}

.glow {
  box-shadow: 0px 0px 0px 0px #eaf5fa;
  transition: box-shadow 3s;
  transition-duration: 2s;
  -webkit-transition-duration: 2s;
  margin: 0.1em;
}
.glow:hover {
  box-shadow: 0px 0px 0px 6px #ceebff;
}

.card-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 4s;
  transition-duration: 4s;
}

.card-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #9cbbd0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 1.5s;
  transition-duration: 1.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.card-sweep-to-right:hover:before,
.card-sweep-to-right:focus:before,
.card-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.card-highlight {
  -webkit-transition: ease 1s; /* For Safari 3.0 to 6.0 */
  transition: ease 1s; /* For modern browsers */
}
.card-highlight:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: rgba(255, 250, 250, 0.8) !important;
}

.height100 {
  height: 100% !important;
}

/* New Landing CSS */

.landingCard {
  aspect-ratio: 1 / 1;
}

.shortCard {
  height: 10vh;
}

.orangeCard {
  background: orange;
}

/* Test Work Experience 3 Bar */

.tallCard {
  height: 60vh;
  width: inherit;
}

/* Hovering Overlay TEST 
.container-overlay {
  position: relative;
  text-align: center;
  color: white;
}

@media (min-width: 600px) {
  .hvr-sweep-to-top:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-sweep-to-top:hover:before,
  .hvr-sweep-to-top:focus:before,
  .hvr-sweep-to-top:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }

  .hvr-sweep-to-top:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-sweep-to-top:hover:before,
  .hvr-sweep-to-top:focus:before,
  .hvr-sweep-to-top:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }

  .hvr-sweep-to-right {
    padding: 1%;
  }

  .hvr-sweep-to-right:hover + .container-overlay {
    opacity: 0;
  }

  .hvr-sweep-to-right:before {
    content: "";
    position: fixed;
    z-index: -3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
    opacity: 0;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    transition: 0.5s ease;
    transition-delay: 0.1s;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .autobattler.hvr-sweep-to-right:before {
    background: linear-gradient(to top, #cbe3ba00, #ffffff),
      url("./Images/card/card-autobattler.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transition: 1s ease-in-out;
  }

  .workexperience.hvr-sweep-to-right:before {
    background: url("./Images/card/card-titan.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transition: 1s ease-in-out;
  }

  .sandbox.hvr-sweep-to-right:before {
    background: url("./Images/card/card-sandbox.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transition: 1s ease-in-out;
  }

  .react.hvr-sweep-to-right:before {
    background: linear-gradient(to top, #cbe3ba00, rgb(35, 48, 62)),
      url("./Images/card/react-logo.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transition: 1s ease-in-out;
  }
  .hvr-sweep-to-right:hover:before,
  .hvr-sweep-to-right:focus:before,
  .hvr-sweep-to-right:active:before {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    opacity: 0.7;
    transition: 1s ease-in-out;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
*/
