/* Gold      F2CC8C      */
/* Archteicture tones 
Sky blue : EAF5FA  
Sky blue2 : 9CBBD0   
Medium blue: 49617D   
Dark Gray : 2E313A   
White Gray : B7B9C6 
Super white Gray :  DFDCE7 */

/* NEW CSS BELOW */

.landingContainer {
  height: 100vh;
  width: 100vw;
}

.forceHeight {
  height: 100vh !important;
}

.titleContainer {
  font-family: "Archivo Black", sans-serif;
  position: absolute !important;
  font-weight: bolder;
  width: 100% !important;
  height: 15% !important;
  text-align: justify center !important;
  font-size: 10vw !important;
}

.leftContainer {
  padding-top: 10vw;
  text-align: center;
}

.middleContainer {
  padding-top: 10vw;
  text-align: center;
}

.rightContainer {
  padding-top: 10vw;
  text-align: center;
}

.bodyPink {
  background-color: rgb(226, 81, 255) !important;
}

.firstCard {
  background: url("./Images/card/card-beach.png") no-repeat center;
  background-size: cover;
}

.secondCard {
  background: url("./Images/card/card-beach.png") no-repeat center;
  background-size: cover;
}

.thirdCard {
  background: url("./Images/card/card-autobattler.png") no-repeat center;
  background-size: cover;
}

.fourthCard {
  background: url("./Images/card/old-cardwork.png") no-repeat center;
  background-size: cover;
}

.mixDifference {
  mix-blend-mode: difference !important;
}

.repeatingDotPattern {
  background: url("./Images/background/DotPattern5.png") repeat center;
  position: fixed;
  width: 200vw;
  height: 200vh;
  background-attachment: fixed;
  animation: movingDots 10s linear infinite;
}

@keyframes movingDots {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 512px;
  }
}

.gradientBackground {
  position: fixed;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  -webkit-transition: ease 2s; /* For Safari 3.0 to 6.0 */
  transition: ease 2s; /* For modern browsers */
}

.gradientBlue {
  background: linear-gradient(
    to bottom,
    rgba(0, 166, 255, 0),
    rgb(0, 122, 187)
  );
  -webkit-transition: ease 2s; /* For Safari 3.0 to 6.0 */
  transition: ease 2s; /* For modern browsers */
}

.gradientSoftYellow{
  background: linear-gradient(
    to bottom,
    rgba(0, 166, 255, 0),
    #fff2cc
  );
  -webkit-transition: ease 2s; /* For Safari 3.0 to 6.0 */
  transition: ease 2s; /* For modern browsers */
}

.blueText {
  color: rgb(0, 122, 187);
  animation: color-change 1s forwards !important;
  animation-delay: 2s;
}

@keyframes color-change {
  0% {
    color: rgba(0, 122, 187, 0);
    -webkit-text-stroke: 0.15vw #fff;
    transform: translateY(100px);
  }
  100% {
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: 0 vw #fff;
    transform: translateY(0px);
  }
}

.gradientOrange {
  background: linear-gradient(
    to bottom,
    rgba(255, 202, 40, 0),
    rgb(225, 119, 27)
  );
}

.gradientGreen {
  background: linear-gradient(
    to bottom,
    rgba(220, 237, 200, 0),
    rgb(82, 247, 143)
  );
}


.gradientTeal {
  background: linear-gradient(
    to bottom,
    rgba(77, 182, 172, 0),
    rgb(77, 182, 172)
  );
}


/* Text Section */

.section {
  display: block;
  background-color: rgba(80, 104, 121, 0.5);
  border: rgba(156, 187, 208, 0.8) 1px solid;
  border-radius: 10px;
  color: #fff;
  padding: 10px;
  padding-right: 10px;
  padding-left: 10px;
  margin: 10px;
  font-size: 1.25em;
  line-height: 1.1;
}

.padding {
 padding : 10px;
}

.bigText {
  font-size: 2.25em !important;
  font-weight: normal;
  font-family: "Archivo Black", sans-serif;
}

.leftText{
  text-align: left !important;
}

.whiteText {
  color: #fff;
  font-size: 1.25em;
}

.greyText {
  color: #424242;
  font-size: 1.25em;
}

/* OLD CSS BELOW */

body {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin: 0;
  height: 100%;
  background-color: rgb(73, 97, 125);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000 no-repeat center center fixed;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 1em;
  -webkit-transition: ease 1s; /* For Safari 3.0 to 6.0 */
  transition: ease 1s; /* For modern browsers */
}

ul.header li {
  z-index: 2;
  color: #fff;
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding-left: 1vw;
  padding-right: 1vw;
}
ul.header {
  z-index: 2;
  display: block;
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 5%;
  width: 100%;
  height: 60px;
  -webkit-transition: ease 1s; /* For Safari 3.0 to 6.0 */
  transition: ease 1s; /* For modern browsers */
}

.visiblenav {
  background-color: rgba(73, 97, 125, 0.8);
  background-blend-mode: screen;
}

.hidden {
  display: none !important;
}

.top2 {
  top: 60px !important;
}

.top3 {
  top: 120px !important;
}

.top4 {
  top: 180px !important;
}

.top5 {
  top: 240px !important;
}

ul.header li a {
  font-family: "Archivo Black", sans-serif;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  display: inline-block;
  margin-top: 10px;
  font: bolder;
  font-weight: bolder;
  font-size: 2vw;
  width: 13vw;
  transform: skew(-14deg);
  padding: 10px;
  padding-right: 25px;
  padding-left: 25px;
  position: relative;
  -webkit-transition: ease 1s; /* For Safari 3.0 to 6.0 */
  transition: ease 1s; /* For modern browsers */
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}

ul.header li a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.5s ease 0s, left 0.3s ease 0s;
  width: 0;
}

ul.header li a:hover::after {
  width: 100%;
  left: 0;
}
ul.header li a:focus,
a:active {
  color: #00bcd4;
}

ul.header li a:active::before {
  background-color: #00bcd4;
}

ul.header li a:hover::before,
ul.header li a:focus::before {
  -webkit-transform-origin: center top;
  transform-origin: center top;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

ul.header li a:focus {
  border-color: rgb(255, 255, 255);
}

.menubutton {
  transition-timing-function: ease;
  transition: 0.2s;
}

.closemenu {
  background: rgba(255, 105, 97, 0.7) !important;
}

.menubutton:active::after {
  color: #49617d !important;
  background: #49617d !important;
}

.active {
  border-left: 12px solid #fff;
  border-right: 12px solid #fff;
  color: #00bcd4 !important;
  border-color: rgb(255, 255, 255) !important;
  /* width: 17vw !important; */
}

li {
  display: block;
}
